* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}

body {
    display: flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;

}

header {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 20px 100px;
    background:#162938;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size:28px;
    color:white;
    user-select:none;
}

.navigation a{
    position:relative;
    font-size:1.1em;
    color:white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after{
    content: '';
    position:absolute;
    left:0;
    bottom:-6px;
    width: 100%;
    height: 3px;
    background: #fff ;
    border-radius:5px;
    transform: scaleX(0);
    transition:transform .5s;
}

.navigation a:hover::after {
    transform:scaleX(1);
}


.eduLevel a {
    position:relative;
    font-size:2em;
    top:200px;
    color:#162938;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    align-items: center;
    justify-content: center;
     
}

.eduLevel a::after{
    content: '';
    position:absolute;
    bottom:-6px;
    left:0;
    width: 100%;
    height: 3px;
    background: #162938 ;
    border-radius:5px;
    transform: scaleX(0);
    transition:transform .5s;
}


.eduLevel a:hover::after {
    transform:scaleX(1);
} 

.search-box{
    position:relative;
    display:flex;
    flex-direction: row;
    top:220px;
    background:#2f3640;  
    border-radius: 40px;
    padding: 15px;
    justify-content: space-between;
    align-items: center;   
}

.search-btn{
    color: #d22828;
    background:#2f3640;
    border:none;
    padding-right: 10px;    
}


.search-txt {
    padding-left:10px;
    border:none;
    background:none;
    outline:none;
    font-size:16px;
    color:white;
}

.container {
    max-width: 1000px;
    flex-direction: column; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the table (unordered list) */
.container ul {
    list-style-type: none;
    padding: 0;
}

/* Style the table rows (list items) */
.container ul li {
    margin: 5px 0;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
}













